html,body {
	border: 0;
	margin: 20px;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

br {
	clear: both;
}

input,textarea {
	border: 1px solid black;
	margin-bottom: .5em;
	margin-bottom: .5em;
}

#title {
	width: 300px;
}

p.menu {
	font-size: small;
}

.oneAd {
	border: 1px solid #555555;
	background-color: #eeeeee;
	padding: 5px;
	margin: 5px;
	background-color: #eeeeee;
	width: 400px;
}

.oneAd table {
	table-layout: inherit;
}

.oneAd table field {
	align: right;
	width: 100px;
}

.oneAd table text {
	width: 100px;
	word-wrap: break-word;
}