<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>AdBoard</servlet-name>
		<servlet-class>org.geminux.adboard.servlets.AdBoardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdBoard</servlet-name>
		<url-pattern>/adboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>org.geminux.adboard.servlets.AddAdsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>org.geminux.adboard.servlets.SearchAdsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>org.geminux.adboard.servlets.DeleteAdsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>adboard.jsp</welcome-file>
	</welcome-file-list>
</web-app>
